@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --mainbgColor:rgb(255, 255, 255); 
    --logo: #C9A227;
    --color: black;
    --bgColor-white: white;
    --buttonBg: #c9a3274f;
    --border: rgba(116, 102, 8, 0.325);
    --bgBlurColor: #ffffff23;
    --sideBg: rgba(0, 0, 0, 0.274);
    --sideBorder: rgba(255, 255, 255, 0.484);
    --heading-size: 100px;
    --heading-width: 900;
    --shadow-color: rgba(0, 0, 0, 0.515);
    --shadow-color-inset: rgba(0, 0, 0, 0.195);
}
.dark{
    --mainbgColor: black; 
    --logoBlue: rgb(255, 0, 170);
    --logoGreen: #fff;
    --color: #fff;
    --buttonBg: rgba(255, 0, 234, 0.119);
    --border: #ffffff8f;
    --bgBlurColor: #ffffff23;
    --sideBg: rgba(0, 0, 0, 0.274);
    --sideBorder: rgba(255, 255, 255, 0.484);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}
body{
    overflow-x: hidden;
}
.main{
    display: flex;
    justify-content: center;
    background-color: var(--mainbgColor);
}
.mainContent{
    height: 100%;
    width: 1300px;
    position: relative;

}




/*for navigation bar*/
.navbar{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 1vw;
    z-index: 2;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--buttonBg);
}
.logo{
    font-size: 35px;
    flex-shrink: 0;
    font-weight: 800;
    color: var(--logo);
}
.logo span{
    color: var(--color);
}
.menu{
    display: flex;
    gap: 25px;
    flex-shrink: 0;
}
.menu div a{
    text-decoration: none;
    color: var(--color);
    font-size: 15px;
}
.navbar .icon{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}
.navbar .icon i{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: var(--logo);
}
.menuIcon{
    display: none;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}
.menuIcon span{
    display: inline-block;
    height: 5px;
    width: 25px;
    background-color: var(--color);
}


/*for menu transition*/
.sidebar{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding-top: 10vh;
    right: 0;
    top: 7vh;
    position: absolute;
    background-color: var(--sideBg);
    height: 93vh;
    width: 100%;
}
.controlSidebar{
    transform: translateX(100%);
}
.sidebar div{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top:1px solid var(--sideBorder) ;
    align-items: center;
}
.sidebar div a{
    background-color: transparent;
    color: var(--color);
    font-size: 30px;
    text-decoration: none;
}
.sidebar .lastA{
    border-bottom: 1px solid var(--sideBorder);
}
.sidebarOpen{
    display: flex;
    animation: movein 0.8s ease forwards;
}
.sidebarClose{
    display: flex;
    animation: moveout 0.5s ease forwards;
}






/*for Hero Section*/
.hero{
    min-height: 90vh;
    height: auto;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1vh;
    position: relative;
}

.infoPhoto{
    min-height: 65vh;
    background-color: ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.infoPhoto img{
    display: block;
    width: 45%;
    min-width: 400px;
    object-fit: cover;
    max-height: 90%;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 5px var(--buttonBg) solid;
    box-shadow: 0 0 10px var(--border);
}
.infoRapper{
    width: 48%;
}
.info{
    height: 100%;
    width: 100%;
    background-color: var(--bgBlurColor);
    backdrop-filter: blur(5px);
    border: 1px solid var(--border);
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10px;
}


.info .topbutton{
    height: 40px;
    width: 250px;
    background-color: var(--buttonBg);
    border: 1px solid var(--logoBlue);
    color: var(--color);
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.heading .firstHeading{
    font-size: 60px;
    color: var(--color);

}
.heading .secondHeading{
    color: var(--logo);
    font-size: 60px;
}
.info .bottomSpan{
    display: inline-block;
    height: 10px;
    width: 5vw;
    background: linear-gradient(to right, var(--color), var(--bgBlurColor));
    border-radius: 25px;
    margin-bottom: 1vw;
}
 .description{
    color: var(--color);
    margin-bottom: 10px;
}
 .description span{
    color: var(--logoBlue);

}
 .description .textStack{
    color: var(--logoGreen);
}


.Buttons{
    min-height: 5vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.cv{
    height: 45px;
    min-width: 250px;
    width: 45%;
    background-color: var(--buttonBg);
    border: 1px solid var(--logoBlue);
    border-radius: 25px;
    color: var(--color);
    font-size: 18px;
}
.iconRapper{
    height: 40px;
    width: 40px;
    border: 1px solid var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}
.buttonsRapper i{
    font-size: 25px;
    color: var(--color);
}

/*for hero cards*/
 .cards{
    height: 12vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 3vh;

}
.hero .cards div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--bgBlurColor);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border);
    border-radius: 15px;
    color: var(--color);
}




/*For Education Section**************************/
.education{
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 10vh;
    padding: 10vh 0 0 0;
}
.eduHeading{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.eduHeading h1{
    font-size: 100px;
    font-weight: 900;
    color: var(--color);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.419);
}
.timeline{
    height: auto;
    width: 100%;
    position: relative;
}
.timeline::before{
    content: " ";
    height: 95%;
    width: 10px;
    position: absolute;
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.329), rgb(0, 0, 0));
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--color), inset -3px -3px 5px var(--color);

}
.educard{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 350px;

}
.college{
    justify-content: flex-end;
}
.collrapper::after{
    content: " ";
    height: 40px;
    width: 40px;
    background: var();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25%;
    border-radius: 25px;
    box-shadow: 3px 3px 5px var(--color), inset -3px -3px 5px var(--color);
}
.rapper{
    height: auto;
    width: 40%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.515), inset -5px -5px 10px rgba(0, 0, 0, 0.195) ;
    border-radius: 20px;
    padding: 20px;
    color: var(--color);
    position: relative;
    margin: 0 20px;
}
.unirapper{
    height: ;
}
.rapper::after{
    content: " ";
    height: 40px;
    width: 40px;
    background-color:  rgb(88, 87, 87);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25%;
    border-radius: 25px;
    box-shadow: 3px 3px 5px var(--color), inset -3px -3px 5px var(--color);

}
.rapper .logoDate{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.rapper .logoDate .logo{
    height: 70px;
    width: 70px;
    background: linear-gradient(to top right, rgba(0, 149, 255, 0.058), var(--logo));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.rapper .logoDate .logo i{
    font-size: 35px;
    color: var(--color);
}
.rapper .logoDate .date{
    display: flex;
    gap: 5px;
    height: 40px;
    width: 200px;
    background-color: var(--buttonBg);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid var(--color);
}
.rapper .logoDate .date i{
    font-size: 25px;
}
.rapper .logoDate .date p{
    font-size: 16px;
    font-weight: 400;
}
.rapper > p{
    font-size: 18px;
    margin-top: 10px;
}
.rapper > h1{
    margin: 10px 0;
    line-height: 1;
}
.rapper > h2{
    font-size: 20px;

}
.rapper .location{
    display: flex;
    margin-top: 10px;
}





/****** for Skill Section********************/
.skill{
    padding-top: 10vh;
    min-height: 70vh;
    height: auto;
    width: 100%;
    margin: 20vh 0 10vh;
    background-color: rgb(51, 71, 71);
}
.skill .heading{    
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
.skill .heading h1{  
    color: var(--color);  
    font-size: var(--heading-size);
    font-weight: var(--heading-width);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.41);
}
.skill .icon{    
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 0 20px;
}
.skill .icon > div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconrapper{
    height: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bgBlurColor);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.515) , -5px -5px 10px inset rgba(0, 0, 0, 0.195);
}  
.skill .icon div div i{
    font-size: 100px;
    color: var(--logo);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}
.skill .icon div div p{
    font-size: 20px;
    font-weight: 600;
    color: var(--color);
}




/*for Project Section**************/
.project{
    min-height: 110vh;
    height: auto;
    width: 100%;
    margin: 20vh 0 5vh 0;  
    background-color: rgb(20, 153, 248);
   
    
}
.project .heading{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.project .heading h1{
    font-size: var(--heading-size);
    font-weight: var(--heading-width);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.41);

}

.projectCards{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.projectCards > div{
    min-height: 370px;
    height: 90%;
    max-height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0 40px ;
    box-shadow: 3px 3px 10px var(--shadow-color), inset -5px -5px 10px var(--shadow-color-inset);
}
.projectCards div .photoSection{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttonBg);
}
.projectCards div .photoSection img{
    height: 90%;
    width:  90%;
    object-fit: cover;
}
.projectCards .description{
    height: 40%;
    width: 100%;
    padding: 5px 20px;
    
}
.projectCards .description h2{
   color: var(--color);
   margin-bottom: 5px;

}
.projectCards .description > p{
    color: var(--color);
    font-size: 16px;

}
.projectCards .description .technology{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.projectCards .description .technology div{
    height: 30px;
    width: 65px;
    background-color: var(--buttonBg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.projectCards .description .technology .jsDiv{
    height: 30px;
    width: 140px;
}
.projectCards .description .technology div p{
   font-size: 18px;
}



/********for Contact Me section****************/
.contact{
    height: 100vh;
    width: 100%;
    margin: 5vh 0;
    padding-top: 10vh;
    background-color: #C9A227;
}
.contact .heading{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.contact .heading h1{
    font-size: var(--heading-size);
    font-weight: var(--heading-width);
        text-shadow: 5px 5px 10px var(--shadow-color);

  
}
.contact .mainContent{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.mainContent .form{
    height: 100%;
    width: 58%;
}
.form .formHeading{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.form .formHeading > h3{
    font-size: 40px;
}
.form .mainform{
    height: 80%;
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    gap: 20px 30px;
    justify-items: center;
    align-items: center;
}
.form .mainform > input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: 2px solid var(--color);
    border-radius: 15px;
    transition: box-shadow 0.2s ease;
}
.form .mainform > input:focus{
    box-shadow: 8px 8px var(--color);
    outline: none;

}
.form .mainform > input::placeholder{
    color: black;
}
.form .mainform .subject{
    grid-column: 1/3;
}
.form .mainform .message{
    grid-column: 1/3;
    position: relative;
}
.form .mainform .message::placeholder{
    position: absolute;
    top: 20px;
}
.form .button{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.form .button button{
    height: 50px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--color);
}
.mainContent .address{
    height: 100%;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.address > div{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    border-radius: 15px;
    gap: 10px;
    border: 1px solid var(--color);
    color: var(--color);
    word-break: break-all;
}
.address .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 10px 10px var(--color);
    border: 2px solid var(--color);
}
.address .info h3{
    font-size: 25px;
}
.address .info p{
    font-size: 16px;
}
.address >div .icon{
    height: 60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
}
.address >div .icon i{
    font-size: 30px;
}
.address >div .text h5{
    font-size: 20px;
}
.address >div .text p{
    font-size: 16px;
}


@keyframes movein {
    0%{
        transform: translateX(100%);
        opacity: 0;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 50%;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveout {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}


@media (max-width: 1300px) {
    .navbar{
        padding: 0 3vw;
    }
    .infoPhoto{
        justify-content: space-around;
    }
    .cards{
        padding: 0 2vw;
    }

    .contact{
        padding: 0 2vw;
    }
    .projectCards{
        padding: 0 20px;
    }
    
}
@media (max-width: 1075px) {
    
    .menu{
        display: none;
    }
    .menuIcon{
        display: flex;
    }
    .navbar{
        justify-content: space-between;
    }
}
@media (max-width: 1111px) {
    .projectCards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
@media (max-width: 980px) {
    .skill .icon{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px){
    /*for Hero Section*/
    .infoPhoto{
        flex-direction: column;
        margin-bottom: 2vh;
    }
    .infoPhoto img{
        order: 1;
        width: 50%;
        margin-bottom: 10px;
    }
    .info{
        margin-bottom: 2vh;
    }
    .infoPhoto .infoRapper{
        order: 2;
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin
    }
    .secondHeading ,.firstHeading{
        font-size: 40px;
    }
    .Buttons{
        width: 70%;
    }
    .cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 24vh;
    }
    






    /*for Education*/
    .timeline::before{
        left: 10%;
        top: 1.5%;
    }
    .timeline{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .educard{
        height: auto;
        min-height: auto;
        justify-content: center;
        padding-left: 5vw;
        margin-bottom: 30px;
    }
    .rapper{
        width: 70%;
    }
    .rapper::after{
        left: -18%;
    }
    .college::after{
        left: -11%;
    }



    /*for Project*/
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projectCards{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 80%;
    }



    /*for Contact*/
    .contact .mainContent{
        flex-direction: column;
        height: auto;
    }
    .contact .mainContent .form{
        order: 2;
        height: 50vh;
        width: 90%;
    }
    .contact .mainContent .address{
        order: 1;
        width: 90%;
        height: 40vh;
        margin-bottom: 20px;
    }
}



@media (max-width: 600px) {
    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skill .icon{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 80%;
    }
}