@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}
body{
    overflow-x: hidden;
}
.main{
    display: flex;
    justify-content: center;
}
.mainContent{
    height: 100%;
    width: 1300px;
    overflow: hidden;
}
/*for navigation bar*/
.navbar{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    position: relative;
    background-color: rgb(178, 179, 179);
}
.logo{
    font-size: 35px;
    flex-shrink: 0;
    color: rgb(24, 33, 74);
}
.logo span{
    color: rgb(7, 108, 108);
}
.menu{
    display: flex;
    gap: 25px;
    flex-shrink: 0;
}
.menu div a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.icon{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}
.icon i{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: yellow;
}
.menuIcon{
    display: none;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}
.menuIcon span{
    display: inline-block;
    height: 5px;
    width: 25px;
    background-color: black;
}
@media (max-width: 1170px) {
    .navbar{
        gap: 7vw;
    }
}
@media (max-width: 975px) {
    
    .menu{
        display: none;
    }
    .menuIcon{
        display: flex;
    }
    .navbar{
        gap: 0;
        justify-content: space-between;
    }
}

/*for menu transition*/
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding-top: 10vh;
    right: 0;
    top: 7vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.274);
    height: 93vh;
    width: 100vw;
}
.controlSidebar{
    transform: translateX(100%);
}
.sidebar div{
    height: 7vh;
    width: 100%;
    background-color: ;
    display: flex;
    justify-content: center;
    border-top:1px solid rgba(255, 255, 255, 0.484) ;
    align-items: center;
}
.sidebar div a{
    background-color: transparent;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.sidebar .lastA{
    border-bottom: 1px solid rgba(255, 255, 255, 0.434);
}
.sidebarOpen{
    animation: movein 0.8s ease forwards;
}
.sidebarClose{
    animation: moveout 0.5s ease forwards;
}
@keyframes movein {
    0%{
        transform: translateX(100%);
        opacity: 0;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 50%;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveout {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}





/*for Hero Section*/
.hero{
    height: 90vh;
    width: 100%;
    background-color: beige;
    margin-top: 3vh;
}
.infoPhoto{
    height: 80%;
    width: 100%;
    background-color:;
    display: flex;
    justify-content: space-between;
    
}
.info{
    width: 48%;
    height: 90%;
}
.mainInfo{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.688);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    padding: 25px;
}
.mainInfo .topbutton{
    height: 40px;
    width: 37%;
    background-color: rgb(24, 33, 74);
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
}
.mainInfo .heading .firstHeading{
    margin-top: 5vh;
    font-size: 60px;
}
.mainInfo .heading .secondHeading{
    color: rgb(255, 0, 162);
    font-size: 60px;
    margin-bottom: 2.5vh;
}
.mainInfo .bottomSpan{
    display: inline-block;
    height: 10px;
    width: 5vw;
    background: linear-gradient(to right, black, rgb(255, 0, 162));
    margin-bottom: 2.5vh;
    border-radius: 25px;
}
.infoPhoto img{
    height: 90%;
    width: 48%;
    object-fit: cover;
    border-radius: 50%;
}
