*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --color: rgb(232, 74, 34);
    --bgcolor: #140e0b;
    --fontdesing: "Dancing Script", cursive;
}
.body{
    font-family: "Elms Sans", sans-serif;
}
.main{
    width: 100%;
}
.landingPage{
    height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.landingPage::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



/*for NavBar==================*/
.nav{
    height: 8vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}
.nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav .logo img{
    height: 60px;
    width: 80px;
}
.nav .logo h5{
    font-size: 28px;
    color: #fff;
}

.nav .navlink{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    overflow: hidden;
}
.nav .navlink .option{
    display: flex;
    gap: 2vw;
}
.nav .navlink .option a{
    position: relative;
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav .navlink .option a::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    bottom: -3px;
    transition: width 1s;
    
}
.nav .navlink .option a:hover:before{
    content: "";
    height: 3px;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: -3px;
    transition: width 0.3s;
    
}
.nav .navlink button{
    border: none;
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(232, 74, 34);
}
.nav .navlink button:hover{
    border: 1px solid rgb(232, 74, 34);
    background-color: transparent;
    transition: background-color 0.3s;
}

/*for Content==================*/
.content{
    position: relative;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15vw;
}
.content p{    
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
.content  h6{    
    font-size: 80px;
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
}
.content .contentButton{    
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.content .contentButton button{
    height: 50px;
    width: 150px;
    background-color: var(--color);
    border: none;
    color: white;
    font-size: 18px;
}
.content .contentButton button:hover{
    background-color: transparent;
    border: 1px solid rgb(232, 74, 34);
    transition: background-color 0.3s;
}




/*for Service Section=========================*/
.service{
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*service Heading*/
.service .headingSection{
    text-align: center;
}
.service .headingSection p{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color: white;
}
.service .headingSection h5{
    font-size: 60px;
    color: #fff;
}
.service .headingSection h5 span{
    color: var(--color);
}

/*service imoooge*/
.service .delivery{
    height: 30%;
    width: 100%;
    padding: 0 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.service .delivery div{
    height: 22vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    box-shadow: 0 5px 5px ;
    border-radius: 5px;
}
.service .delivery div:hover{
    transition: outline 0.3s;
    outline: 1px solid #fff;
}
.service .delivery img{
    height: 40%;
    width: 40%;
}
.service .delivery div h6{
    color: #fff;
    font-size: 2vw;
}
.service .delivery div p{
    color: #ffffffa1;
    text-transform: capitalize;
    font-size: 12px;
}




/*for section 3 aboutUs=============*/
.aboutUs{
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutUs .heading{
   display: flex;

    width: 80%;
}
.aboutUs .heading .firstHeading{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutUs .heading .firstHeading p{
    font-family: var(--fontdesing);
    font-size: 50px;
    color: #fff;
}
.aboutUs .heading .firstHeading h5{
    font-size: 70px;
    color: #fff;
    text-transform: capitalize;
}
.aboutUs .heading .firstHeading h5 span{
    color: var(--color);
}

.aboutUs .heading .paragraph{
    display: flex;
    align-items: center;
}
