*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --color: rgb(232, 74, 34);
    --bgcolor: #140e0b;
    --fontdesing: "Dancing Script", cursive;
}
.body{
    font-family: "Elms Sans", sans-serif;
}
.main{
    width: 100%;
}
.landingPage{
    height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.landingPage::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



/*for NavBar==================*/
.nav{
    height: 8vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}
.nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav .logo img{
    height: 60px;
    width: 80px;
}
.nav .logo h5{
    font-size: 28px;
    color: #fff;
}

.nav .navlink{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    overflow: hidden;
}
.nav .navlink .option{
    display: flex;
    gap: 2vw;
}
.nav .navlink .option a{
    position: relative;
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav .navlink .option a::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    bottom: -3px;
    transition: width 1s;
    
}
.nav .navlink .option a:hover:before{
    content: "";
    height: 3px;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: -3px;
    transition: width 0.3s;
    
}
.nav .navlink button{
    border: none;
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(232, 74, 34);
}
.nav .navlink button:hover{
    border: 1px solid rgb(232, 74, 34);
    background-color: transparent;
    transition: background-color 0.3s;
}

/*for Content==================*/
.content{
    position: relative;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15vw;
}
.content p{    
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
.content  h6{    
    font-size: 80px;
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
}
.content .contentButton{    
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.content .contentButton button{
    height: 50px;
    width: 150px;
    background-color: var(--color);
    border: none;
    color: white;
    font-size: 18px;
}
.content .contentButton button:hover{
    background-color: transparent;
    border: 1px solid rgb(232, 74, 34);
    transition: background-color 0.3s;
}




/*for Service Section=========================*/
.service{
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*service Heading*/
.service .headingSection{
    text-align: center;
}
.service .headingSection p{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color: white;
}
.service .headingSection h5{
    font-size: 60px;
    color: #fff;
}
.service .headingSection h5 span{
    color: var(--color);
}

/*service imoooge*/
.service .delivery{
    height: 30%;
    width: 100%;
    padding: 0 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.service .delivery div{
    height: 22vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    box-shadow: 0 5px 5px ;
    border-radius: 5px;
}
.service .delivery div:hover{
    transition: outline 0.3s;
    outline: 1px solid #fff;
}
.service .delivery img{
    height: 40%;
    width: 40%;
}
.service .delivery div h6{
    color: #fff;
    font-size: 2vw;
}
.service .delivery div p{
    color: #ffffffa1;
    text-transform: capitalize;
    font-size: 12px;
}




/*for section 3 aboutUs=============*/
.aboutUs{
    height: 100vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: ;
}

/*heading*/
.aboutUs .heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
}
.aboutUs .heading .firstHeading{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutUs .heading .firstHeading p{
    font-family: var(--fontdesing);
    font-size: 50px;
    color: #fff;
}
.aboutUs .heading .firstHeading h5{
    font-size: 70px;
    color: #fff;
    text-transform: capitalize;
}
.aboutUs .heading .firstHeading h5 span{
    color: var(--color);
}
.aboutUs .heading .paragraph{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.aboutUs .heading .paragraph p{
    width: 80%;
    text-align: right;
    color: #ffffffa1;
    font-size: 20px;
}

/*photoCard*/
.aboutUs .photoCard{
    height: 40%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}
.aboutUs .photoCard >div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(222, 142, 45);
}
.aboutUs .photoCard >div img{
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.aboutUs .photoCard >div >div{
    height: 40%;
    width: 100%;
    background-color: #FAEDDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 1vh;
}
.aboutUs .photoCard >div >div p{
    color: rgba(0, 0, 0, 0.649);
    font-size: 22px;
}
.aboutUs .photoCard >div >div button{
    height: 5vh;
    width: 8vw;
    border: none;
    background-color: var(--color);
    color: #fff;
    font-size: 18px;
}
.aboutUs .photoCard >div >div button:hover{
    background-color: transparent;
    border: 2px solid var(--color);
    color: black;
    transition: background-color 0.5s;
}





/*For Banner====================================*/
.banner{
    height: 100vh;
    width: 100%;
    padding: 0 10vw;
    background-color: #2C2420;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*download app*/
.banner .downloadApp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 3vw;
    gap: 3vh;
}
.banner .downloadApp h6{
    font-size: 50px;
    color: var(--color);
}
.banner .downloadApp h3{
    font-family: var(--fontdesing);
    font-size: 80px;
    text-transform: capitalize;
    color: #fff;
}
.banner .downloadApp p{
    font-size: 18px;
    color: #ffffffa9;
}
.banner .downloadApp button{
    height: 5vh;
    width: 8vw;
    text-transform: capitalize;
    border: none;
    background-color: var(--color);
    font-size: 18px;
    color: #fff;
}
.banner .downloadApp button:hover{
    border: 2px solid var(--color);
    background-color: transparent;
    transition: background-color 0.3s;
}
/*banner*/
.banner .forBanner{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner .forBanner img{
    height: 80%;
    width: 80%;
}




/*for footer =============================*/
.footer{
    height: 50vh;
    width: 100%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footerRapper{
    height: 60%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.footer .footerRapper > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
}
.footer .footerRapper > div h6{
    font-size: 25px;
    color: #fff;
}
.footer .footerRapper > div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.footer .footerRapper > div div a{
    color: rgba(255, 255, 255, 0.719);
    text-decoration: none;
    text-transform: capitalize;
}
.footer .footerRapper > div div a:hover{
    color: var(--color);
    transition: color 0.3s;
}


/*foodin*/
.footer .footerRapper .foodin{
    padding-right: 20px;
}
.footer .footerRapper .foodin .navLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.footer .footerRapper .foodin img{
    height: 50px;
    width: 50px;
}
.footer .footerRapper .foodin h6{
    font-size: 25px;
    color: #fff;
}
.footer .footerRapper .foodin p{
    font-size: 15px;
    color: #ffffffa8;
    display: inline-block;
    margin-left: 8px;
}
.footer .footerRapper .foodin .icon{
    display: flex;
    flex-direction: row;
}
.footer .footerRapper .foodin .icon .fa-brands{
    font-size: 30px;
    display: inline-block;
    color: #fff;
    
}

